@import "./content-crafta.css";

.ca-buttons-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  max-width: 200px;
}
.ca-button {
  background: none;
  border: 1px solid #F28612;
  font-size: 18px;
  padding: 0 .4em;
  color: #F28612;
  border-radius: 5px;
  height: 35px;
  min-width: 35px;
  line-height: 35px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ca-button svg {
  width: 24px;
  height: 24px;
}
.ca-button.active {
  background: #F28612;
  color: white;
}
.ca-button.active svg path {
  fill: white;
}
.ca-button:disabled {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
}
.ca-button.active:disabled {
  background: rgba(0, 0, 0, 0.12);
}
.ca-button:disabled svg path {
  fill: rgba(0, 0, 0, 0.26);
}
