@import "./content-crafta.css";

.cft-product-item__badges {
  z-index: 3;
}

.ca-buttons-wrap {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 2;
}
.ca-button {
  background: white;
  border: 1px solid #F28612;
  font-size: 10px;
  padding: 0 .4em;
  color: #F28612;
  border-radius: 5px;
  height: 25px;
  min-width: 25px;
  line-height: 25px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ca-button svg {
  width: 15px;
  height: 15px;
}
.ca-button+.ca-button {
  margin-left: 10px;
}
.ca-button.active {
  background: #F28612;
  color: white;
}
.ca-button.active svg path {
  fill: white;
}
.ca-button:disabled {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
}
.ca-button.active:disabled {
  background: rgba(0, 0, 0, 0.12);
}
.ca-image-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  background-color: #F28612;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
}
.ca-image-mask__icon svg {
  height: 72px;
  width: 72px;
}
.ca-image-mask__text {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
.cft-product-item:hover .ca-image-mask {
  display: none;
}
.ca-image-holder-wrapper {
  position: relative;
}
.ca-button:disabled svg path {
  fill: rgba(0, 0, 0, 0.26);
}
