@import "~purecss/build/pure-min.css";

body {
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px;
  min-width: 500px;
}
h1 { font-size: 22px; margin: 10px 0 10px 52px; }
.panel {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;
    width: 640px;
    margin: 10px auto;
}

.panel.heading {
    padding: 14px 20px;
    text-shadow: 1px 1px 0px #fff;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 50%,#ffffff 100%);
}
.panel.heading img { float: left; margin-left: -5px; }
.options-panel { line-height: 2em; }
.options-panel th,
.options-panel td { vertical-align: top; white-space: nowrap; }
.options-panel th { text-align: right; width: 1%; padding: 8px 15px 10px 10px; }
.options-panel td { width: 99%; padding: 10px; }
.options-panel label.indent { margin-left: 24px; }
.options-panel #cz-keyboard-shortcuts-char { margin: 0; height: 24px; }
.options-panel #cz-keyboard-shortcut-modifier-label { display: inline-block; height: 22px; line-height:22px; margin-left: 12px; border: 1px solid #d8d8d8; background: #fafafa; padding: 0px 4px; }
.options-panel .disabled { color: #999; }
hr {
  border: none;
  border-top: dashed 1px #ccc;
  margin: 15px 0;
}
.note {
  font-size: 90%;
  color: #909090;
}
#status {
  color: #0091ff;
}