body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #333333;
  margin: 0;
  padding: 0;
}
.panel {
  width: 317px;
  background: #fff;
  padding: 12px 15px;
  box-sizing: border-box;
}
.progress-bar {
  width: 100% ;
  height: 18px;
  background: linear-gradient(to right, rgba(0, 153, 255, 1) var(--p,0%), white 0) no-repeat;
  text-align: center;
  border: 1px solid rgba(0, 153, 255, 1);
}
.progress-bar__text {
  background: linear-gradient(to right, white var(--p,0%), black 0) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
}
.label {
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 12px;
}
.button {
  padding: 4px 22px;
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #999999;
}
.button:hover {
  border: 1px solid rgba(0, 153, 255, 1);
  color: rgba(0, 153, 255, 1);
}
.popup__state-title {
  line-height: 29px;
}
.process-info__bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.process-info__time {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #999999;
}
.hidden {
  display: none !important;
}
.popup__messages {
  margin-top: 5px;
}
.alert {
  border-radius: 4px;
  padding: 14px;
  margin-bottom: 5px;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  color: white;
  background-color: #2196f3;
  border-color: #2196f3;
}
.alert.success {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.alert.info {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}
.alert.warning {
  background-color: #fb8c00 !important;
  border-color: #fb8c00 !important;
}
.alert.error {
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}
/* Loader */
.lds-ellipsis {
  position: relative;
  width: 64px;
  height: 28px;
}
.lds-ellipsis div {
  position: absolute;
  top: 9px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fb8c00;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
#auth-section {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
#auth-section__user-info {
  display: flex;
  align-items: center;
  min-width: 0;
}
#user-info__avatar {
  width: 40px;
  height: 40px;
  background: #fb8c00;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  margin-right: 0.5em;
}
#user-info__email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
